<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>518F78761E4CC7EE007C8B2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>518F78921E4CC7EE007C8B2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>518F789D1E4CC7EE007C8B2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
